<div class="row">
  <div class="list-group col-3">
    <a href="#" class="list-group-item list-group-item-action">北區</a>
    <a href="#" class="list-group-item list-group-item-action">中區</a>
    <a href="#" class="list-group-item list-group-item-action">南區</a>
  </div>
  <div class="department-group d-flex flex-wrap col-9">
    <div class="card mr-3 mb-3">
      <img
        src="https://photo.yannick.com.tw/Upload/249D4D26-1FD1-4E5B-BB9D-2F00529DEE24/zh-cht/20200828171351701.jpg"
        class="card-img-top"
        alt="department-card"
      />
      <div class="card-body">
        <h5 class="card-title">玉山旗艦店</h5>
        <p class="card-text">
          (02) 2713-1313 <br />
          台北市民權東路三段219號 <br />
          週一至週日 10:00~20:00
        </p>
      </div>
    </div>
    <div class="card mr-3 mb-3">
      <img
        src="https://photo.yannick.com.tw/Upload/CB343511-CEEB-4D2C-9498-1A6A0F08F429/zh-cht/20200616010703742.jpg"
        class="card-img-top"
        alt="department-card"
      />
      <div class="card-body">
        <h5 class="card-title">大湖旗艦店</h5>
        <p class="card-text">
          (02) 2790-1313 <br />
          台北市內湖區大湖山莊街219巷 <br />
          週一至週日 10:00~20:00
        </p>
      </div>
    </div>
  </div>
</div>
