<div class="product-group">
  <div class="card">
    <img
      src="https://photo.yannick.com.tw/photo/20200031/1.jpg"
      class="card-img-top"
      alt="product"
    />
    <div class="card-body">
      <h5 class="card-title">厚巧克力生乳捲</h5>
      <p class="card-text">售價 $485</p>
      <div class="product-count d-flex mb-4">
        <button class="minus border-right-0">-</button>
        <input type="text" class="count border-right-0 border-left-0" />
        <button class="plus border-left-0">+</button>
      </div>
      <button class="btn btn-primary mr-2">加入購物車</button>
      <button class="btn btn-info mr-2">商品介紹</button>
    </div>
  </div>
  <div class="card">
    <img
      src="https://photo.yannick.com.tw/photo/20200031/1.jpg"
      class="card-img-top"
      alt="product"
    />
    <div class="card-body">
      <h5 class="card-title">厚巧克力生乳捲</h5>
      <p class="card-text">售價 $485</p>
      <div class="product-count d-flex mb-4">
        <button class="minus border-right-0">-</button>
        <input type="text" class="count border-right-0 border-left-0" />
        <button class="plus border-left-0">+</button>
      </div>
      <button class="btn btn-primary mr-2">加入購物車</button>
      <button class="btn btn-info mr-2">商品介紹</button>
    </div>
  </div>
  <div class="card">
    <img
      src="https://photo.yannick.com.tw/photo/20200031/1.jpg"
      class="card-img-top"
      alt="product"
    />
    <div class="card-body">
      <h5 class="card-title">厚巧克力生乳捲</h5>
      <p class="card-text">售價 $485</p>
      <div class="product-count d-flex mb-4">
        <button class="minus border-right-0">-</button>
        <input type="text" class="count border-right-0 border-left-0" />
        <button class="plus border-left-0">+</button>
      </div>
      <button class="btn btn-primary mr-2">加入購物車</button>
      <button class="btn btn-info mr-2">商品介紹</button>
    </div>
  </div>
  <div class="card">
    <img
      src="https://photo.yannick.com.tw/photo/20200031/1.jpg"
      class="card-img-top"
      alt="product"
    />
    <div class="card-body">
      <h5 class="card-title">厚巧克力生乳捲</h5>
      <p class="card-text">售價 $485</p>
      <div class="product-count d-flex mb-4">
        <button class="minus border-right-0">-</button>
        <input type="text" class="count border-right-0 border-left-0" />
        <button class="plus border-left-0">+</button>
      </div>
      <button class="btn btn-primary mr-2">加入購物車</button>
      <button class="btn btn-info mr-2">商品介紹</button>
    </div>
  </div>
  <div class="card">
    <img
      src="https://photo.yannick.com.tw/photo/20200031/1.jpg"
      class="card-img-top"
      alt="product"
    />
    <div class="card-body">
      <h5 class="card-title">厚巧克力生乳捲</h5>
      <p class="card-text">售價 $485</p>
      <div class="product-count d-flex mb-4">
        <button class="minus border-right-0">-</button>
        <input type="text" class="count border-right-0 border-left-0" />
        <button class="plus border-left-0">+</button>
      </div>
      <button class="btn btn-primary mr-2">加入購物車</button>
      <button class="btn btn-info mr-2">商品介紹</button>
    </div>
  </div>
  <div class="card">
    <img
      src="https://photo.yannick.com.tw/photo/20200031/1.jpg"
      class="card-img-top"
      alt="product"
    />
    <div class="card-body">
      <h5 class="card-title">厚巧克力生乳捲</h5>
      <p class="card-text">售價 $485</p>
      <div class="product-count d-flex mb-4">
        <button class="minus border-right-0">-</button>
        <input type="text" class="count border-right-0 border-left-0" />
        <button class="plus border-left-0">+</button>
      </div>
      <button class="btn btn-primary mr-2">加入購物車</button>
      <button class="btn btn-info mr-2">商品介紹</button>
    </div>
  </div>
  <div class="card">
    <img
      src="https://photo.yannick.com.tw/photo/20200031/1.jpg"
      class="card-img-top"
      alt="product"
    />
    <div class="card-body">
      <h5 class="card-title">厚巧克力生乳捲</h5>
      <p class="card-text">售價 $485</p>
      <div class="product-count d-flex mb-4">
        <button class="minus border-right-0">-</button>
        <input type="text" class="count border-right-0 border-left-0" />
        <button class="plus border-left-0">+</button>
      </div>
      <button class="btn btn-primary mr-2">加入購物車</button>
      <button class="btn btn-info mr-2">商品介紹</button>
    </div>
  </div>
  <div class="card">
    <img
      src="https://photo.yannick.com.tw/photo/20200031/1.jpg"
      class="card-img-top"
      alt="product"
    />
    <div class="card-body">
      <h5 class="card-title">厚巧克力生乳捲</h5>
      <p class="card-text">售價 $485</p>
      <div class="product-count d-flex mb-4">
        <button class="minus border-right-0">-</button>
        <input type="text" class="count border-right-0 border-left-0" />
        <button class="plus border-left-0">+</button>
      </div>
      <button class="btn btn-primary mr-2">加入購物車</button>
      <button class="btn btn-info mr-2">商品介紹</button>
    </div>
  </div>
</div>

<div
  aria-label="Page navigation example"
  class="mt-5 d-flex justify-content-center"
>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>
